{% extends 'baseBack.html.twig' %}

{% block title %}<title>Modifier Offre</title>{% endblock %}

{% block body %}

    <div class="card" style="margin-left:40px;margin-top:25px;margin-right:40px;">
        <div class="card-header" align="center">
            <strong>Modifier</strong> Offre
        </div>
        {{ include('offer/_form.html.twig', {'button_label': 'Update'}) }}
        <div style="margin-left:420px; margin-top:-17px;">
            {{ include('offer/_delete_form.html.twig') }}
        </div>
    </div>

    
{% endblock %}
